* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index para impedir do carrousel atravesar a header */
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


nav a {
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: white;
}

.home {
    justify-content: center;
    text-align: center;
    padding: 200px;
}

/* Centralizar todo os titulos */
section h2 {
    text-align: center;
    padding-top: 50px;
}

.sobrenos {
    justify-content: center;
    text-align: center;
    background-color: #e2e2e2;
    color: black;
}

.servicos {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 50px;
    padding: 150px;
}

.contato {
    padding-top: 100px;
    background-color: #e2e2e2;
}

form {
    display: flex;
    justify-content: center;
    padding-left: 530px;
    border-radius: 10px;
    width: 50%;
    flex-direction: column;
}

/* button */
form div {
    padding-top: 10px;
    border-radius: 5px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

#mensagem {
    height: 100px;
}